@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.Geo-container {
    margin: 0;
    height: 99vh; 
    width: 70vw; 
    border: 2px;
    // border: 2px solid blue;
 
}

.backbutton-container{
display: flex;
position: absolute;
top: 10px;
left: 5px;
img{
  height: 30px;
  width: 30px;
}
div{
  margin-left: 2px;
  margin-top: 2px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;

}

}

.disable-backbutton{

  display: none;

}

.zoom{

    margin: 0;
    height: 99vh;
    width: 70vw;
    border: 2px;
    // border: 2px solid blue;
    animation: zoom-in 1 1s linear;

    @keyframes zoom-in {
        from {
          opacity: 1;
        }
        to {
          opacity: 0.1;
        }
        
      }

}

.no-Geo-chart{
    // visibility: hidden;
    // display: none;
    margin: 0;
    height: 99vh;
    width: 70vw;
    border: 2px;
    // border: 2px solid blue;
    opacity: 0.1;
    pointer-events: none;
}