.App {
  /* background-color: #1A2A55; */
  height: 100vh;
  display: flex;
  /* text-align: center; */
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .App {
    height: 100vh;
    display: block;

  }
}
