@import url('<link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">');



.Contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5em;
    margin-top: 10px;

    


.SA-container{

display: flex;

.Search-container{
    background-color: #f5f6fa;
    border-radius: 10px;
    
.Search-input{

    height: 30px;
    background-color: #f5f6fa;
    border: 0;
    border-radius: 10px;
    padding-left: 20px;
}
img{
    width: 10px;
    height: 10px;
    margin-left: 5px;

}

}

.Add-button{
    width: 150px;
    height: 30px;
    background: linear-gradient(180deg, #FA4F44 0%, #EC6958 44.24%, #F52F6C 100%);
    color: #fff;
    border: 0;
    border-radius: 5px;
    align-self: center;
    margin-top: 5px;
    margin-left: 15px;
    
    
    
    img{
        width: 18px;
        height: 18px;
        margin-right: 8px; 
    }
    
}


}


.List-header{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    background-color: #f5f6fa;
    height: 30px;
    width: 90%;
    justify-content: space-around;
    margin-top: 30px;

    .Plus-logo{
        width: 15px;
        height: 15px;
        align-self: center;
        margin-left: 15px;
    }
    .BasicInfo-text{
        align-self: center;
        font-family: 'Lexend Deca', sans-serif;
        color: #8395a7;
        font-size: 15px;
    }
    .Company-text{
        margin: auto;
        font-family: 'Lexend Deca', sans-serif;
        color: #8395a7;
        font-size: 15px;
    }
}


.Contact-card{
    display: grid;
    margin-top: 20px;
    grid-template-columns: .2fr 1fr 1fr;



    .Checkbox-input{
        align-self: center;
        margin: auto;
        
    }

    .CustomerInfo-conatiner{
        display: flex;
        
        .avatar{
            align-self: center;
            margin-right: 8px;
        }

        .CustomerInfo{
            align-self: center;

            .Contact-name{
                font-weight: bold;
                font-size: 16px;
                font-family: 'Lexend Deca', sans-serif;  
            }

            .Contact-email{
                font-size: 10px;
                font-family: 'Lexend Deca', sans-serif;
                color: #222f3e;

            }
        }
    }

    .Contact-company{
        font-size: 15px;
        font-family: 'Lexend Deca', sans-serif;
        font-weight: bold;
        align-self: center;
    }

}


.Contact-card:active{
    background-color: #f5f6fa;
}

}